USE [UM_NEUROSKY]
GO
/****** Object:  StoredProcedure [dbo].[SP_CargarDatos_Excitacion_Valencia]    Script Date: 8/23/2020 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_CargarDatos_Excitacion_Valencia] @Name nvarchar(30)
AS


TRUNCATE table TABLA_DATOS_COMPLETOS_EXCITACION_VALENCIA 


insert into [dbo].[TABLA_DATOS_COMPLETOS_EXCITACION_VALENCIA]
select A.ID,
	A.NAME_TEST,
	A.SECCION,
	A.TIPO,
	A.EXCITACION,
	A.VALENCIA,
	CASE WHEN (A.VALENCIA IS NULL) THEN B.[DESCRIPCION] ELSE NULL END ,
	CASE WHEN (A.EXCITACION IS NULL) THEN B.[DESCRIPCION] ELSE NULL END
FROM [dbo].[EXCITACION_VALENCIA] A 
INNER JOIN [dbo].[LOOKUP_EXCITACION_VALENCIA] B
ON(A.EXCITACION = B.ID OR A.VALENCIA = B.ID )
--INNER JOIN [dbo].[LOOKUP_EXCITACION_VALENCIA] B_VALENCIA
--ON(A.VALENCIA = B_VALENCIA.ID)
WHERE A.NAME_TEST = @Name AND A.SECCION = (SELECT MAX(SECCION) FROM [EXCITACION_VALENCIA] WHERE NAME_TEST = @Name)
	

